textarea#words{
	border: #555 solid 1px;
	background-color: #FAFAFA;
	width: 100%;
	height: 2em;
	padding-left:5px;
}
.chatbox{
	margin:2px;
	text-align:left;
	font:13px/1.6em Zawgyi-One,Arial,Verdana,Sans-Serif;
	overflow:hidden;
}
textarea.textbox{
	height:25px;
	width:200;
	border:0;
	padding:0;
	margin:0;
	font:13px/1.6em Zawgyi-One,Arial,Verdana,Sans-Serif;
	overflow:hidden;
}
input.button{
	height:25px;
	width:150;
}
div.main{
	border: 1px solid #555;
	color: #000;
	padding: 4px;
	margin: 6px;
	background-color: #fff;
	font:13px/1.6em Zawgyi-One,Arial,Verdana,Sans-Serif;
}
div#cont{
	float:left;
	width:70%;
	height: 350px;
	border: 1px solid #555;
	background-color: #fff;
	margin: 1px 1px 1px 3px;
	padding : 2px;
	overflow: auto;
	font:13px/1.6em Zawgyi-One,Arial,Verdana,Sans-Serif;	
}
.online{
	height:350px;
	min-width:250px;
	background-color: #FFF;
	font:13px/1.6em Zawgyi-One,Arial,Verdana,Sans-Serif;
	border: 1px solid #555;
	margin: 1px 1px 1px 3px;
	padding : 2px;
	overflow: auto;
}
.online img{
	vertical-align:middle;
}
div#x_cmd{
	position: relative;
	margin-top: 5px;
	width: 100%;
}
div#smileys{
	background-color: #FFF;
	border: 1px solid #555;
	padding: 4px;
	margin-top: 4px;
}
div#cover{
	width:100%;
	height:800px;
	text-align:center;
	vertical-align:middle;
	position:absolute;
	top:0;
	left:0;
	background-color:#99CCFF;
	z-index:100;
	filter:alpha(opacity=80);-moz-opacity: 0.8;opacity: 0.8;
	overflow:hidden;
}
div#lbox{
	width:233px;
	height:138px;
	background-image:url(../images/glogin.jpg);
	position:absolute;
	top:30%;
	left:35%;
	z-index:101;
}
div#ltbox{
	position:relative;
	top:50px;
	left:75px;
}
.ltxt{
	background-color:#ffffff;
	width:130px;
	margin-top:4px;
	padding-left:3px;
}
.lbtn{
	background-color:#C0C0C0;
	left:50px;
	width:80px;
	margin-top:7px;
	position:relative;
	border: 1px outset #000;
}
.detail{
	padding: 10px;
}
div#smileys img{
	cursor: pointer;
}
.tab1{
	width:50px;
}
div#inputs{
	margin-top: 5px;
}
.submitbtn{
	border: black solid 1px;
	padding: 0 4px 0 4px;
	color: #000;
	background-color:#66CCFF;
	text-align: center;
	margin: 2px 2px 5px 2px;
}
.header{
	font:14px/2.2em Zawgyi-One,Arial,Verdana,Sans-Serif;
}
