/*font embedding for IE*/
@font-face{
	font-family: Zawgyi-One;
	font-style: normal;
	font-weight: 700;
	src: url(ZAWGYIO0.eot);
}

/*For All Browsers*/

/*override default*/
input,textarea{
	vertical-align:middle;
}

/*class definitions for burglish menu*/
.burglish_inline{
	text-align:left;
	float:left;
	position:absolute;
	background-color: #e5ecf9;
	min-width:150;
	max-height:450;
	min-height:20;
	overflow:hidden;
	padding:3px;
	visibility:hidden;
	cursor:pointer;
	font:13px/1.6em Zawgyi-One,Arial,Sans-Serif;
	z-index:100;
}
.burglish_colon{
	float:left;
	background-color: #d7eaf9;
	padding:1px;
	width:150px;
	overflow:visible;
	border: #87CEFA solid 1px;
}
.burglish_coloff{
	float:left;
	background-color: #e5ecf9;
	padding:1px;
	width:150px;
	overflow:visible;
	border: #e5ecf9 solid 1px;
}
.burglish_on{
	background-color:#87CEFA;
	min-width:150;
}
.burglish_off{
	background-color:#e5ecf9;
	min-width:150;
}
.burglish_tips{
	background-color: #00FFCC;
	padding:1px;
	border: #87CEFA solid 1px;
	overflow:auto;
}
.burglish_chlist{
	padding:5px;
	background-color: #808080;
	position:relative;
}
.burglish_chlist div {
	background-color: #a0a0a0;
}
.burglish_chlist span {
	float:left;
	width:38px;
	padding:1px;
	margin:2px 3px 2px 3px;
	background-color: #101010;
	color:Yellow;
	font:15px/1.8em Zawgyi-One,Arial,Sans-Serif;
	cursor:pointer;
	text-align:center;
}
